<h1>Welcome back, {{ name }} !</h1>
<form action="/logout">
  <div class=" button-group row justify-content-center">
    <button type="submit" class="btn btn-light border m-2">登出</button>
  </div>
</form>